@import 'color';

.navbar {
  padding: 10px;
  top: 0px;
  left: 0px;
  position: fixed;
  background: $color-white;
  border-bottom: 1px solid $color-black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.image-navbar {
  width: 120px;
}

.title-navbar {
  margin-right: 50px;
  font-size: 30px;
}

@media (max-width: 1024px) {
  .title-navbar {
    color: $color-white;
  }

  .image-navbar{
    height: auto;
  }
}
