@import 'color';

.navbar {
  position: fixed;
  background: $color-white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.image-navbar {
  width: 120px;
}

.title-navbar {
  margin-right: 50px;
  font-size: 30px;
}
