 @import 'color';

.technoContent {
  margin: 12px;
  background: $color-green;
  height: 300px;
  width: 175px;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 
  &::before {
  content: "";
  height: 300px;
  bottom: 5px;
  right: 5px;
  width: 175px;
  border: 1px solid $color-green;
  border-radius: 5px;
  position: absolute; 
  z-index: -1;
  }
}

.textReact {
  padding-top: 10px;
  padding-bottom: 20px;
}

.textRelease {
  padding-bottom: 20px;
  font-weight: bold; 
}

.textComplete {
  width: 160px;
}

.img-techno {
  width: 100px;
  height: 100px;
}
