 @import 'color';

.central-container {
  margin: 0 30px 30px;
}

.container-technologies { 
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.techno-content,
.grid-content {
  margin: 0 0 30px 30px;
  background: $color-white;
  height: 300px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
}

.tech-text {
  padding-top: 10px;
  padding-bottom: 20px;
}

.text-release {
  padding-bottom: 20px;
  font-weight: bold; 
}

.text-complete {
  width: 160px;
}

.img-techno {
  margin-top: 10px;
  max-height: 50px;
}

.techno-content {
  height: 100%;
  grid-column: 1;
  grid-row: 1/3;
  border-right: 2px solid $color-green;
  display: flex;
  justify-content: center;
}

.grid-content {
  padding: 30px;
}

@media (max-width: 1024px) {
  .container-technologies {
    display: grid;
    grid-template-columns: 1fr;
  }

  .techno-content {
    border-right-color: $color-white;
  }
  
  .grid-content {
    border-top: 2px solid $color-green;
  }
}
